body {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #F8C6D8;
}

.playball-regular {
  font-family: "Playball", cursive;
  font-weight: 400;
  font-style: normal;
}

h1, h2 {
  font-family: 'Playball', cursive;
}

h1 {
  text-align: center;
  color: #ff69b4;
  font-size: 2.5rem;
}

nav {
  width: 100%;
  text-align: center;
  background-color: #ff69b4;
  padding: 0.625rem 0;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-block; 
}

nav ul li {
  display: inline;
  margin: 0 0.9375rem;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Playball', cursive;
  font-size: 1.25rem;
}

section {
  float: left;
  width: 75%;
  margin: 1.25rem;
  border: 0.125rem solid #ff69b4;
}

section .image-container img {
  float: left;
  width: 25%;
  margin-right: 1rem;
  border: 2px solid #ff69b4;
}

section .image-container img:nth-child(4n) {
  float: left;
  margin-right: 0;
}

.resume h2, .aboutme h2, .faith h2 {
  color: #ff69b4;
}

.resume p {
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ff69b4;
  text-align: center;
  padding: 0.625rem 0;
  color: #fff;
}









body {
    font-family: 'Playball', cursive;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

section {
    margin-bottom: 20px;
}

section img {
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    header nav ul li {
        margin-right: 40px;
    }

    section {
        margin-bottom: 40px;
    }

    section img {
        width: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}






body {
    font-family: 'Playball', cursive;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

section {
    margin-bottom: 20px;
}

section img {
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    header nav ul li {
        margin-right: 40px;
    }

    section {
        margin-bottom: 40px;
    }

    section img {
        width: 50%;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 900px) {
    header nav ul {
        float: right;
    }

    header nav ul li {
        margin-right: 60px;
    }

    section {
        margin-bottom: 60px;
    }

    section img {
        width: 40%;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}
